NA07037.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA07051.combine.bam filter=lfs diff=lfs merge=lfs -text
NA11830.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA07347.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA07357.combine.bam filter=lfs diff=lfs merge=lfs -text
NA10847.combine.bam filter=lfs diff=lfs merge=lfs -text
NA10851.combine.bam filter=lfs diff=lfs merge=lfs -text
NA07000.combine.bam filter=lfs diff=lfs merge=lfs -text
NA07000.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA07037.combine.bam filter=lfs diff=lfs merge=lfs -text
NA07051.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA07347.combine.bam filter=lfs diff=lfs merge=lfs -text
NA07357.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA10847.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA10851.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA11830.combine.bam filter=lfs diff=lfs merge=lfs -text
NA11843.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA07048.combine.bam filter=lfs diff=lfs merge=lfs -text
NA07048.combine.bam.bai filter=lfs diff=lfs merge=lfs -text
NA11843.combine.bam filter=lfs diff=lfs merge=lfs -text
Target.bam.list filter=lfs diff=lfs merge=lfs -text
test.vcf filter=lfs diff=lfs merge=lfs -text
